body {
  background-color: #2C2C2C;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px auto;
  width: 90%;
  max-width: 80vw;
  height: 20vh;
}

.add-btn {
  background-color: #4788d6;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-left: 5vh;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  width: 10vw;
  max-width: 10vw;
  margin-top: 3vh;
}

.search-item {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.search-item :last-child {
margin-right: 0px;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;

}

.actions-btn {
  display: flex;
  flex-direction: row-reverse;

}

.search-btn {
  background-color: #67C8B4;
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin-left: 5vh;
}

.search-btn {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  width: 10vw;
  max-width: 10vw;
  margin-right: 19vh;
}

.search-btn:hover {
  background-color: #56B0A2;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5vh 0 5vh 22vh;

}

ul {

  font-size: 16px;
  border: 2px solid;
  padding: 2vh;
  margin: 2vh;
  list-style-type: none;
}

span {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.add-container {
  margin: 20vh;
  border: 1px solid;
  padding: 10vh;
}

.add-container h2 {
  margin-bottom: 20px;
}

.add-container input {
  margin: 10px auto;
}

.btn {
  padding: 5px;
  margin: 5px auto;
  border-radius: 10px;
  color: #FFF;
  border: 1px solid #ccc;

}

.editarBtn {
  background-color: #67c887;
}

.excluirBtn {
  background-color: lightcoral;
  margin-left: 10px;
  border-radius: 5px;
}

ul input {
  width: 70%;
}

